<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="container">
	<!-- Container -->
	<h3 class="my-4"
		th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}">Lihat
		Keluarga</h3>
	<!--  Lihat Keluarga Berdasarkan Nomor KK -->
	<div class="content">
		<!--  Data Keluarga -->
		<div class="table-container">
			<table class="table table-condensed" id="tabel-keluarga"
				cellspacing="0" style="font-size: 16px;">
				<tr>
					<td width="10%"><b>NKK</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.nomor_kk}">Keluarga NKK</td>
				</tr>
				<tr>
					<td width="10%"><b>Alamat</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.alamat}">Keluarga Alamat</td>
				</tr>
				<tr>
					<td width="10%"><b>RT/RW</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.RT} + '/' + ${keluarga.RW}">Keluarga
						RT/RW</td>
				</tr>
				<tr>
					<td width="10%"><b>Kelurahan/Desa</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.nama_kelurahan}">Keluarga Kelurahan/Desa</td>
				</tr>
				<tr>
					<td width="10%"><b>Kecamatan</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.kecamatan.nama_kecamatan}">Keluarga Kecamatan</td>
				</tr>
				<tr>
					<td width="10%"><b>Kota</b></td>
					<td style="width: 1%;">:</td>
					<td th:text="${keluarga.kelurahan.kecamatan.kota.nama_kota}">Keluarga Kota</td>
				</tr>
			</table>
		</div>
		<!--  end of Data Keluarga -->
		<hr />

		<!--  Data Penduduk -->
		<table class="table">
			<thead>
				<tr>
					<th>Nama Lengkap</th>
					<th>NIK</th>
					<th>Jenis Kelamin</th>
					<th>Tempat Lahir</th>
					<th>Tanggal Lahir</th>
					<th>Agama</th>
					<th>Pekerjaan</th>
					<th>Status Perkawinan</th>
					<th>Status dalam Keluarga</th>
					<th>Kewarganegaraan</th>
				</tr>
			</thead>
			<tbody>
				<div th:each="penduduk,iterationStatus: ${keluarga.anggotaKeluarga}">
					<tr>
						<td th:text="${penduduk.nama}"></td>
						<td th:text="${penduduk.nik}"></td>
						<td th:if="${penduduk.jenis_kelamin} == '1'">Perempuan</td>
						<td th:if="${penduduk.jenis_kelamin} == '0'">Laki-laki</td>
						<td th:text="${penduduk.tempat_lahir}"></td>
						<td th:text="${penduduk.tanggal_lahir}"></td>
						<td th:text="${penduduk.agama}"></td>
						<td th:text="${penduduk.pekerjaan}"></td>
						<td th:text="${penduduk.status_perkawinan}"></td>
						<td th:text="${penduduk.status_dalam_keluarga}"></td>
						<td th:if="${penduduk.is_wni} == '1'">WNI</td>
						<td th:if="${penduduk.is_wni} == '0'">WNA</td>
					</tr>
				</div>
			</tbody>
		</table>
		<!--  end of Data Keluarga -->

	</div>

	<!--  end of Lihat Keluarga Berdasarkan Nomor KK -->
	<!-- end of Container -->

</div>
</html>