<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	th:include="/layout/master :: master">

<div th:fragment="content" class="container">
	<h3 class="my-4" th:text="'Tambah Keluarga'">Tambah Keluarga</h3>
	<!--  Tambah Keluarga -->
	<div class="row">
		<div class="col-lg-12">
			<form name="sentMessage" id="addKeluargaForm"
				action="/keluarga/tambah/submit" method="post">
				<div class="form-group">
					<label for="alamat" class="col-md-10 control-label">Alamat</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<input name="alamat" class="form-control" type="text"
								required="required" placeholder="Masukkan alamat.." />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="RT" class="col-md-10 control-label">RT</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<input name="RT" class="form-control" type="text"
								required="required" placeholder="Contoh: 012" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="RW" class="col-md-10 control-label">RW</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<input name="RW" class="form-control" type="text"
								required="required" placeholder="Contoh: 123" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="kelurahan" class="col-md-10 control-label">Kelurahan/Desa</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<select required="required" name="kelurahan"
								class="selectpicker form-control">
								<option value="">Kelurahan</option>
								<div th:each="kelurahan,iterationStatus: ${kelurahan}">
									<option th:value="${kelurahan.id}" th:text="${kelurahan.kode_kelurahan} + ' - ' + ${kelurahan.nama_kelurahan}">Pilihan</option>
								</div>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="kecamatan" class="col-md-10 control-label">Kecamatan</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<select required="required" name="kecamatan"
								class="selectpicker form-control">
								<option value="">Kecamatan</option>
								<div th:each="kecamatan,iterationStatus: ${kecamatan}">
									<option th:value="${kecamatan.id}" th:text="${kecamatan.nama_kecamatan}">Pilihan</option>
								</div>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="kota" class="col-md-10 control-label">Kota</label>
					<div class="col-md-10 inputGroupContainer">
						<div class="input-group">
							<select required="required" name="kota"
								class="selectpicker form-control">
								<option value="">Kota</option>
								<div th:each="kota,iterationStatus: ${kota}">
									<option th:value="${kota.id}" th:text="${kota.nama_kota}">Pilihan</option>
								</div>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<button type="submit" class="btn btn-primary">Tambah</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--  end of Tambah Keluarga -->
</div>
</html>